@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-Light.eot);
    src: url(/fonts/GillSans-Light.eot) format("embedded-opentype"),
        url(/fonts/GillSans-Light.woff) format("woff"),
        url(/fonts/GillSans-Light.ttf) format("truetype"),
        url(/fonts/GillSans-Light.svg) format("svg");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-LightItalic.eot);
    src: url(/fonts/GillSans-LightItalic.eot) format("embedded-opentype"),
        url(/fonts/GillSans-LightItalic.woff) format("woff"),
        url(/fonts/GillSans-LightItalic.ttf) format("truetype"),
        url(/fonts/GillSans-LightItalic.svg) format("svg");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans.eot);
    src: url(/fonts/GillSans.eot) format("embedded-opentype"),
        url(/fonts/GillSans.woff) format("woff"),
        url(/fonts/GillSans.ttf) format("truetype"),
        url(/fonts/GillSans.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-Italic.eot);
    src: url(/fonts/GillSans-Italic.eot) format("embedded-opentype"),
        url(/fonts/GillSans-Italic.woff) format("woff"),
        url(/fonts/GillSans-Italic.ttf) format("truetype"),
        url(/fonts/GillSans-Italic.svg) format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-Medium.eot);
    src: url(/fonts/GillSans-Medium.eot) format("embedded-opentype"),
        url(/fonts/GillSans-Medium.woff) format("woff"),
        url(/fonts/GillSans-Medium.ttf) format("truetype"),
        url(/fonts/GillSans-Medium.svg) format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-MediumItalic.eot);
    src: url(/fonts/GillSans-MediumItalic.eot) format("embedded-opentype"),
        url(/fonts/GillSans-MediumItalic.woff) format("woff"),
        url(/fonts/GillSans-MediumItalic.ttf) format("truetype"),
        url(/fonts/GillSans-MediumItalic.svg) format("svg");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-Bold.eot);
    src: url(/fonts/GillSans-Bold.eot) format("embedded-opentype"),
        url(/fonts/GillSans-Bold.woff) format("woff"),
        url(/fonts/GillSans-Bold.ttf) format("truetype"),
        url(/fonts/GillSans-Bold.svg) format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-BoldItalic.eot);
    src: url(/fonts/GillSans-BoldItalic.eot) format("embedded-opentype"),
        url(/fonts/GillSans-BoldItalic.woff) format("woff"),
        url(/fonts/GillSans-BoldItalic.ttf) format("truetype"),
        url(/fonts/GillSans-BoldItalic.svg) format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-Heavy.eot);
    src: url(/fonts/GillSans-Heavy.eot) format("embedded-opentype"),
        url(/fonts/GillSans-Heavy.woff) format("woff"),
        url(/fonts/GillSans-Heavy.ttf) format("truetype"),
        url(/fonts/GillSans-Heavy.svg) format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url(/fonts/GillSans-HeavyItalic.eot);
    src: url(/fonts/GillSans-HeavyItalic.eot) format("embedded-opentype"),
        url(/fonts/GillSans-HeavyItalic.woff) format("woff"),
        url(/fonts/GillSans-HeavyItalic.ttf) format("truetype"),
        url(/fonts/GillSans-HeavyItalic.svg) format("svg");
    font-weight: 900;
    font-style: italic;
}



// COLORS
$primary: #E81111;
$primaryAlt: #a91111;

// FONTS
$primaryFont: 'Gill Sans';

.no-padding {
    padding: 0 !important;

    &-left {
        padding-left: 0 !important;
    }

    &-right {
        padding-right: 0 !important;
    }

    &-top {
        padding-top: 0 !important;
    }

    &-bottom {
        padding-bottom: 0 !important;
    }
}

.no-margin {
    margin: 0 !important;

    &-left {
        margin-left: 0 !important;
    }

    &-right {
        margin-right: 0 !important;
    }

    &-top {
        margin-top: 0 !important;
    }

    &-bottom {
        margin-bottom: 0 !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.text-center {
    text-align: center
}

.small-container {
    max-width: 300px;
}

.btn {
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    min-width: 150px;
    border-radius: 14px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.btn-font-medium {
        font-weight: 500;
    }

    &.btn-primary {
        background: $primary;
        border: none;
        color: #FFF;

        &:hover,
        &:active,
        &:focus {
            background: $primaryAlt !important;
        }

        &.btn-primary-outline {
            background: transparent;
            border: 1px solid $primary;
            color: $primary;

            &:hover,
            &:active,
            &:focus {
                background: $primary !important;
                border: 1px solid $primary !important;
                color: #FFF;
            }

        }
    }

    &.btn-default {
        background: #393939;
        border: none;
        color: #FFF;

        &:hover,
        &:active,
        &:focus {
            background: #191919 !important;
        }

        &.btn-primary-outline {
            background: transparent;
            border: 1px solid #393939;
            color: #393939;

            &:hover,
            &:active,
            &:focus {
                background: #393939 !important;
                border: 1px solid #393939 !important;
                color: #FFF;
            }

        }
    }

    &.btn-secondary {
        background: #000;
        color: #FFF;
    }

    &.btn-tag {
        min-width: 0;
        width: auto;
    }

    i {
        margin-left: 18px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.form-group {
    height: 48px;
    background: transparent;

    .form-control {
        height: 100%;
        width: 100%;
        background: transparent;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 14px;
        border: 1px solid #393939;
        font-size: 14px;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 20px;
        color: #000;

        &::-webkit-input-placeholder {
            color: #393939;
            text-transform: uppercase;
        }

        &:-ms-input-placeholder {
            color: #393939;
            text-transform: uppercase;
        }

        &::placeholder {
            color: #393939;
            text-transform: uppercase;
        }

        &:focus {
            border-color: $primary;
        }
    }

    &-alt {
        .form-control {
            border-color: white;
            color: white;
        }
    }

    &.dropdown {
        outline: none !important;
        box-shadow: none !important;

        .dropdown-toggle {
            outline: none !important;
            box-shadow: none !important;
            width: 100%;
            background: transparent;
            border: 2px solid white;
            text-align: left;
            display: flex;
            justify-content: space-between;
            font-weight: 500;

            &::after {
                content: "\F067";
                font-family: 'Font Awesome 5 Pro';
                border: none;
            }

            &[aria-expanded="true"] {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                &::after {
                    content: "\F068";
                }
            }

            &:hover,
            &:active,
            &[aria-expanded="true"] {
                border-color: #f4f4f4;
                background: #f4f4f4;
                color: black;
            }
        }

        .dropdown-menu {
            background: #FFF;
            color: #000;
            border-radius: 12px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            width: 100%;
            margin: 0;
            border: none;
            box-shadow: 6px 8px 10px -4px rgba(0, 0, 0, 0.15);

            .dropdown-item {
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                color: #000 !important;
                background: none !important;
                cursor: pointer;

                i {
                    color: $primary;
                    margin-right: 10px;
                }

                &.active,
                &:hover {
                    i {
                        font-weight: 900;
                    }
                }
            }
        }
    }

}

img {
    max-width: 100%;
    position: relative;

    &:after {
        content: ' ';
        background-image: url('../../public/img/app/broken-image.jpg');
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0px;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
    }
}

html,
body {
    height: 100%;
    color: #393939;
}

body {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.dropdown-menu {
    &.show {
        background: #343a40;
    }
}

#sidenav {
    height: 100%;
    width: 300px;
    padding-top: 80px;
    position: absolute;
    top: 0;
    z-index: 1032;
    color: white;

    &.left {
        left: -300px;
    }

    &.right {
        right: -300px;
    }

    .collapse-list {
        padding-left: 15px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 1031;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: none;
}

.nabvbar-toggler {
    border: none;
    outline: none;
}

.close-nav {
    outline: none;
}

main {
    margin-top: 56px;
}

.bg-dark {
    background-color: #000 !important;
}

.navbar {
    &-standard-height {
        height: 64px;
    }

    &.navbar-dark {
        background-color: #000;
    }

    .container {
        height: 100%;
    }

    .navbar-brand {
        padding: 6px 0;
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    ul.navbar-nav {
        padding: 0;
        margin-right: 0 !important;
        justify-content: flex-end;
        width: 100%;

        .nav-item {
            .nav-link {
                font-size: 12px;
                color: white;
                letter-spacing: 0.05em;
                font-weight: bold;
                padding: 0 12px;
                padding-top: 23px;
                padding-bottom: 20px;
                border-bottom: 3px solid transparent;
                transition: all 0.15s ease-in;

                &:hover {
                    border-bottom: 3px solid #FFF;
                }
            }
        }
    }
}

main#content {
    margin-top: 64px;
}

.mg-modal-overlay {
    width: 100%;
    background: #FFF;
    z-index: 500;
    position: fixed;
    top: -100%;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease-in;

    &.shown {
        top: 64px;
        transition: all 0.15s ease-out;
    }

    &.choosing {
        .overlay-body {
            display: none;
        }
    }

    .overlay-header {
        text-align: right;

        .close {
            display: block;
            font-size: 10px;
            opacity: 1;
            text-transform: uppercase;
            color: #000000;
            float: none;
            margin-left: auto;
            margin-right: 0;
            outline: none !important;
            border: none !important;
            box-shadow: none !important;

            &:hover {
                color: $primary;
            }
        }
    }

    .overlay-body {
        padding: 32px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

        &.overlay-body-placeholder {
            .grid-item {
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .grid-item {
            border-radius: 12px;
            border: 1px solid #E5E5E5;
            padding: 28px;

            .default,
            .card-item {
                min-height: 230px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                display: flex;

                >i {
                    font-size: 12px;
                    margin-right: 6px;
                }

                .card-image {
                    img {
                        width: 100%;
                        height: 190px;
                        object-fit: contain;
                    }
                }

                .card-title {
                    color: #393939;
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    .model {
                        color: $primary;
                        font-weight: bold;
                        font-size: 24px;
                        margin-right: 5px;
                    }

                    .name {
                        padding-top: 3px;
                    }
                }
            }

            .card-item {
                position: relative;
                flex-direction: column;

                .remove-item {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    color: #393939;
                    opacity: 1;
                    font-size: 20px;
                    cursor: pointer;
                    outline: none !important;
                    border: none !important;
                    background: none !important;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .overlay-footer {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .grid-item {
            padding: 0 28px;
        }

        .btn {
            width: 100%;
        }

        p {
            margin-top: 20px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0;
            color: #000;
            opacity: 1;
        }
    }
}

section {
    &.banner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &.banner-full {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            padding-bottom: 120px;
            height: calc(100vh - 64px);
        }

        .banner-content-container {
            text-align: center;
            color: white;
            line-height: 20px;

            .logo-img-container {
                max-width: 350px;
                width: 100%;
                margin: auto;
                text-align: center;

                img {
                    width: 100%;
                }
            }

            .banner-content-texts {
                margin-top: -20px;

                h5 {
                    font-size: 35px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                }

                h6 {
                    font-size: 22px;
                    margin-top: 15px;
                }
            }

            .banner-content-steps {
                display: grid;
                max-width: 500px;
                grid-template-columns: 1fr 1fr 1fr;
                margin: auto;
                margin-top: 15px;

                .step-item {
                    display: grid;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin: auto;
                    height: 100%;

                    .count {
                        color: transparent;
                        background: white;
                        border-radius: 18px;
                        height: 18px;
                        width: 18px;
                        color: $primary;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-weight: bold;
                        font-size: 10px;
                    }

                    .icon {
                        img {
                            width: 65px;
                        }
                    }

                    .text {
                        padding-top: 15px;
                    }
                }
            }
        }
    }

    &.cars-list {
        padding-bottom: 60px;

        .filter-container {
            background: black;
            margin-top: -120px;
            padding: 32px 42px;
            padding-bottom: 20px;
            border-radius: 12px;

            .heading {
                font-size: 24px;
                color: white;
                font-weight: bold;
            }

            .filter-form {
                margin-top: 24px;

                .grid-list {
                    display: grid;
                    grid-gap: 15px;
                    grid-template-columns: 1fr 1fr 1fr 150px;

                    &-1col {
                        grid-template-columns: 1fr;
                        grid-gap: 0;
                    }
                }

                .show-more-options {
                    text-align: center;
                    color: #FFF;
                    font-weight: normal;
                    font-size: 14px;
                    margin-top: 15px;

                    a {
                        text-decoration: underline;
                        text-transform: uppercase;

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                .other-options {
                    display: block;

                    &.hidden {
                        display: none;
                    }
                }

                .price-filter {
                    outline: none !important;
                    box-shadow: none !important;
                    width: 100%;
                    background: transparent;
                    border: 2px solid white;
                    text-align: left;
                    height: calc(100% - 1rem);
                    color: #FFF;
                    padding: 10px 12px;
                    border-radius: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    label {
                        font-weight: 500;
                        display: block;
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }

                    .slider {
                        width: 100%;

                        .slider-track {
                            height: 3px;

                            .slider-track-low,
                            .slider-track-high {
                                background: rgba(0, 0, 0, 0.6);
                            }
                        }

                        .slider-handle {
                            width: 10px;
                            height: 10px;
                            margin-left: -4px;
                            background: #FFF !important;
                            box-shadow: none !important;
                            margin-top: 1px;
                        }
                    }

                    .price-ranges {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 10px;
                        font-weight: normal;
                    }

                    .range-actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: bold;
                        font-size: 10px;
                        text-transform: uppercase;

                        a {
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }

        .result-options {
            margin-top: 32px;
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .actions {
                margin-left: 32px;

                .btn:first-child {
                    margin-right: 12px;
                }
            }
        }

        .list-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
        }

        .category-list {
            margin-top: 32px;
        }

        &.choosing {
            .product-card {
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
                }

                .overlayed-checkbox {
                    display: block;
                }
            }

            &-full {
                .product-card:not(.selected) {
                    opacity: 0.5;

                    .overlayed-checkbox {
                        border-color: #CCC;
                    }
                }
            }
        }

        .product-card {
            border: 1px solid #E5E5E5;
            background: #FFF;
            border-radius: 12px;
            padding: 28px;
            position: relative;

            .overlayed-checkbox {
                position: absolute;
                top: 15px;
                left: 15px;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                border: 1px solid $primary;
                display: none;
            }

            &.selected {
                .overlayed-checkbox {
                    background: $primary;
                }
            }

            hr {
                border-color: #393939;
                margin: 18px 0;
            }

            .card-image {
                img {
                    width: 100%;
                    height: 190px;
                    object-fit: contain;
                }
            }

            .card-title {
                color: #393939;
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                .model {
                    color: $primary;
                    font-weight: bold;
                    font-size: 24px;
                    margin-right: 5px;
                }

                .name {
                    padding-top: 3px;
                }
            }

            .card-blurb {
                color: #393939;
                font-weight: 500;
                font-size: 13px;
            }

            .card-footer {
                border: none;
                padding: 0;
                background: none !important;

                .btn {
                    width: 100%;
                    font-weight: bold;
                }
            }

            .accordion {
                margin: 18px 0;

                .card {
                    border: none;
                    border-radius: 0;
                    border-top: 1px solid #393939;
                    padding: 15px 0;
                    font-size: 13px;
                    overflow: visible;

                    &:last-child {
                        border-bottom: 1px solid #393939;
                    }

                    .card-header {
                        padding: 0;
                        border: none;
                        background: none !important;

                        .btn {
                            background: none !important;
                            font-size: 13px;
                            padding: 0;
                            height: auto;
                            width: 100%;
                            display: flex;
                            text-align: left;
                            display: flex;
                            justify-content: space-between;
                            text-decoration: none !important;
                            color: #393939;
                            font-weight: bold;
                            outline: none !important;
                            border: none !important;
                            align-items: center;
                            text-transform: initial;

                            &:hover {
                                color: $primary;
                            }

                            &::after {
                                content: "\F067";
                                font-family: 'Font Awesome 5 Pro';
                                font-weight: normal;
                                border: none;
                                color: $primary;
                            }

                            &[aria-expanded="true"] {
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;

                                &::after {
                                    content: "\F068";
                                }
                            }
                        }
                    }

                    .card-body {
                        padding: 0;
                        padding-top: 15px;

                        .colors {
                            .color {
                                display: inline-block;
                                height: 24px;
                                width: 24px;
                                border: 1px solid #000;
                                border-radius: 50%;
                                margin-right: 5px;
                                cursor: pointer;

                                &:hover,
                                &.active {
                                    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6)
                                }
                            }
                        }

                        p {
                            margin-bottom: 3px;
                            display: flex;
                            align-items: center;

                            strong {
                                font-weight: 500;
                            }

                            i,
                            img {
                                margin-right: 5px;
                            }

                            img {
                                max-width: 14px;
                                max-height: 14px;
                            }

                            a {
                                font-weight: 500;
                                text-decoration: underline;

                                &:hover {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    &.section-site-map {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .grid-item {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 60px 32px;
            color: #FFF;
            text-align: center;
            position: relative;

            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background: $primary;
                opacity: 0;
            }

            &:hover {
                &:after {
                    opacity: 0.7;
                }
            }

            * {
                z-index: 1;
                position: relative;
            }

            h5 {
                font-size: 24px;
                text-transform: uppercase;

                i {
                    font-size: 28px;
                    margin-right: 12px;
                }

                margin-bottom: 15px;
            }

            p {
                font-size: 12px;
                margin-bottom: 10px;
                max-width: 300px;
            }

            a {
                margin-top: 10px;
                font-weight: bold;
                font-size: 14px;
                text-decoration: underline;
                transition: all 0.15s ease-out;
                text-transform: uppercase;

                &:hover {
                    opacity: 0.7;
                }
            }

            &.mg-care {
                >img {
                    width: 120px;
                }

                .mg-care-programs {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    img {
                        max-width: 50px;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &#section-compare {
        padding: 30px 0;

        .compare-header {
            text-align: right;

            .close {
                display: block;
                font-size: 10px;
                opacity: 1;
                text-transform: uppercase;
                color: #000000;
                float: none;
                margin-left: auto;
                margin-right: 0;
                outline: none !important;
                border: none !important;
                box-shadow: none !important;


                &:hover {
                    color: $primary;
                }
            }
        }

        .compare-body {
            padding: 32px 0;
            display: grid;
            grid-template-columns: 150px 1fr 1fr 1fr;
            grid-gap: 15px;

            &.compare-body-placeholder {
                .grid-item {
                    cursor: pointer;

                    &:hover {
                        box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .grid-item {
                border-radius: 12px;
                border: 1px solid #E5E5E5;
                padding: 28px;

                .default,
                .card-item {
                    min-height: 230px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $primary;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    display: flex;

                    >i {
                        font-size: 12px;
                        margin-right: 6px;
                    }

                    .card-image {
                        img {
                            width: 100%;
                            height: 190px;
                            object-fit: contain;
                        }
                    }

                    .card-title {
                        color: #393939;
                        font-size: 18px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        .model {
                            color: $primary;
                            font-weight: bold;
                            font-size: 24px;
                            margin-right: 5px;
                        }

                        .name {
                            padding-top: 3px;
                        }
                    }
                }

                .card-item {
                    position: relative;
                    flex-direction: column;

                    .remove-item {
                        position: absolute;
                        top: -15px;
                        right: -15px;
                        color: #393939;
                        opacity: 1;
                        font-size: 20px;
                        cursor: pointer;
                        outline: none !important;
                        border: none !important;
                        background: none !important;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }

        .compare-table {
            .table-row {
                display: grid;
                grid-template-columns: 150px 1fr 1fr 1fr;
                grid-gap: 15px;
                color: #000;
                font-size: 14px;
                text-transform: uppercase;
                padding: 15px 0;

                &.table-field-row:not(:first-child):not(.footer) {
                    border-top: 1px solid #E5E5E5;
                }

                .table-h {
                    font-weight: bold;
                    text-align: right;
                    padding-right: 10px;
                }

                .table-col {
                    padding: 0 10px;
                    font-weight: 500;
                    text-align: center;
                }

                &.footer {
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }

    &#compare-actions {
        background: #F4F4F4;
        padding: 60px 0;

        .container {
            max-width: 640px;
            margin: auto;

            form {
                display: flex;
                align-items: center;

                .form-group {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    width: 100%;
                    margin-right: 15px;

                    input {
                        outline: none !important;
                        box-shadow: none !important;
                        border: 1px solid #000000;
                        border-radius: 0;
                        border-top-left-radius: 14px;
                        border-bottom-left-radius: 14px;
                        border-right: 0;
                        font-size: 14px;
                        font-weight: 500;
                        padding-left: 20px;
                        padding-right: 20px;

                        &::-webkit-input-placeholder {
                            color: #393939;
                        }

                        &:-ms-input-placeholder {
                            color: #393939;
                        }

                        &::placeholder {
                            color: #393939;
                        }
                    }

                    .form-control-button {
                        border: 1px solid #393939;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
}


footer {
    background: #000;
    color: #FFF;
    padding: 12px 0;

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 15px;

        h6 {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
        }

        p {
            margin: 0;
            font-size: 10px;
            line-height: 1.2;
        }

        .grid-item {
            &:nth-child(2) {
                max-width: 250px;
                text-align: center;
                margin: auto;
            }

            &:last-child {
                max-width: 250px;
                text-align: center;
                margin: auto;
            }

            .social-items {
                display: flex;
                align-items: center;

                .social-icons {
                    margin-left: 12px;
                    display: flex;
                    align-items: center;

                    a:not(:last-child) {
                        margin-right: 8px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.modal-backdrop.show {
    z-index: 400;
}

.modal {
    &.mg-modal {
        width: 100%;
        height: calc(100vh - 64px);
        background: #FFF;
        top: 64px;
        z-index: 500;
        padding-top: 32px;
        padding-bottom: 32px;

        .modal-dialog {
            max-width: 100%;
            width: 100%;
            min-height: 100%;
            height: auto;
            border: none;
            margin: 0;

            .modal-content {
                width: 100%;
                border: none;
            }

            .modal-header {
                text-align: right;
                border: none;

                .close {
                    display: block;
                    font-size: 10px;
                    opacity: 1;
                    text-transform: uppercase;
                    color: #000000;
                    float: none;
                    margin-left: auto;
                    margin-right: 0;
                    outline: none !important;
                    box-shadow: none !important;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            .modal-body {
                border: none;
                text-align: center;
                max-width: 640px;
                margin: auto;

                h4 {
                    font-size: 28px;
                    font-weight: 500;
                    margin-bottom: 32px;
                }

                .row {
                    margin-right: -5px;
                    margin-left: -5px;
                }

                .col-sm-6,
                .col-sm-12 {
                    padding-right: 5px;
                    padding-left: 5px;
                }

                p {
                    font-size: 12px;
                    text-align: left;
                }

                .form-checkbox {
                    text-align: left;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    input {
                        color: $primary;
                        width: auto;
                        margin-right: 5px;
                    }

                    label {
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }

            .modal-footer {
                border: none;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}
