// PLUGINS
@import "../assets/css/font-awesome-pro.css";
@import '../assets/css/jquery.fancybox.min.css';
@import '../assets/css/material/material-components-web.min.css';
@import '../assets/css/bootstrap/bootstrap.css';
@import '../assets/css/bootstrap/bootstrap-grid.css';
@import '../assets/css/bootstrap/bootstrap-reboot.css';
@import '../assets/css/bootstrap-datetimepicker.min.css';
@import "../assets/css/bootstrap-toggle.css";
@import '../assets/css/animate.min.css';
@import '../assets/css/dataTables.bootstrap4.min.css';
@import '../assets/css/chartist.min.css';
@import '../assets/css/daterangepicker.css';
@import '../assets/css/jquery.scrollbar.css';
@import '../assets/css/sweetalert.css';
@import '../assets/css/toastr.min.css';
@import '../assets/css/select2.min.css';
@import '../assets/css/selectize.bootstrap3.css';

// CABOODLE SASS
@import 'caboodle/variables.scss';
@import 'caboodle/mixins.scss';
@import 'caboodle/settings.scss';
@import 'caboodle/global.scss';
@import 'caboodle/layout.scss';
@import 'caboodle/buttons.scss';
@import 'caboodle/forms.scss';
@import 'caboodle/assets.scss';
@import 'caboodle/login.scss';
@import 'caboodle/flex.scss';
@import 'caboodle/grid.scss';
@import 'caboodle/invoice.scss';
@import 'caboodle/helpers.scss';
@import 'caboodle/emails/layout.scss';
@import 'banner-video-modal.scss';

ul.permission-list{
    >li{
        height: fit-content;
        padding: 5px 10px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        >.header{
            margin-bottom: unset !important;
            margin-left: 10px;
            line-height: 2;
        }
    }
    ul.parent{
        display: grid;
        grid-auto-flow: column;
        padding: unset;
        margin-bottom: 20px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
        li{
            border: 0px;
            border-radius: 0px;
            &:first-of-type{
                border-bottom-left-radius: 6px;
            }
            &:last-of-type{
                border-bottom-right-radius: 6px;
            }
        }
    }
}

.dropdownDatepickerGroup{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));

    @media screen and (max-width: 424px) {
        grid-template-columns: auto;
        grid-auto-flow: row;
    }

    > select {
        border-radius: 0;
        &:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        };
        &:last-of-type {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        };
    }
}

nav {
	&.navbar {
		.navbar-button {
			&.navbar-button-web {
				@media #{$tablet} {
					display: block;
				}
			}
		}
	}
}

.caboodle-table {
	thead {
		tr {
			th {
				i, span {
					padding-left: 0px;
				}
			}
		}
    }
}

.caboodle-card{
    .caboodle-card-body{
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media screen and (max-width: 650px) {
        padding: 0px 15px;
    }
}

.mdc-icon-toggle{
    width: unset;
}

.hidden {
    display: none;
}