.row {
	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 20px;
		border-radius: 5px;
		background-color: #e6e6e6;
		margin: 10px 0;
		
	}
	.filters {
		text-align: center;
	}
	.radio {
		text-align: center;
    	padding: 20px 0;
	}
	// .template:first-child{
	// 	.caboodle-card {
	// 		.content {
	// 				padding: 30px 0;
	// 				display: grid;
	// 				grid-template-areas:
	// 				'header header header header header header'
	// 				'menu main main main right right'
	// 				'menu footer footer footer footer footer';
	// 				grid-gap: 10px;
	// 				.item2 {
	// 					height: 200px;
	// 				}
					
	// 				.item1 { grid-area: header; height: 70px;}
	// 				.item2 { grid-area: menu; }
	// 				.item3 { grid-area: main; }
	// 				.item4 { grid-area: right; }
	// 				.item5 { grid-area: footer; }
					
				
	// 		}
	// 	}
	// }
	// .template:nth-child(3){
	// 	.caboodle-card {
	// 		.content {
	// 				padding: 30px 0;
	// 				display: grid;
	// 				grid-template-columns: 1fr 3fr 1fr;
	// 				grid-template-rows: 30px minmax(30px, auto) 45px;
	// 				grid-template-areas:
	// 				"h h h"
	// 				"s c a"
	// 				"f f f";
	// 				grid-gap: 10px;
					
	// 				.header { grid-area: h; }
	// 				.sidebar { grid-area: s; }
	// 				.content { grid-area: c; }
	// 				.footer { grid-area: f; }
	// 				.aside { grid-area: a; }
					
				
	// 		}
	// 	}
	// }
	// .template:nth-child(2){
	// 	.caboodle-card {
	// 		.content {
	// 				padding: 30px 0;
	// 				display: grid;
	// 				grid-template-areas:
	// 					"header header header"
	// 					"content-1 content-1 content-1"
	// 					"content-2 content-2 content-3"
	// 					"footer footer footer";
	// 				grid-gap: 10px;
	// 				.item2 {
	// 					height: 160px;
	// 				}
					
	// 				.item1 { grid-area: header; height: 30px;}
	// 				.item2 { grid-area: content-1; }
	// 				.item3 { grid-area: content-2; }
	// 				.item4 { grid-area: content-3; }
	// 				.item5 { grid-area: footer; }
					
				
	// 		}
	// 	}
	// }
	
}