@charset "UTF-8";

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-Light.eot);
  src: url(/fonts/GillSans-Light.eot) format("embedded-opentype"), url(/fonts/GillSans-Light.woff) format("woff"), url(/fonts/GillSans-Light.ttf) format("truetype"), url(/fonts/GillSans-Light.svg) format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-LightItalic.eot);
  src: url(/fonts/GillSans-LightItalic.eot) format("embedded-opentype"), url(/fonts/GillSans-LightItalic.woff) format("woff"), url(/fonts/GillSans-LightItalic.ttf) format("truetype"), url(/fonts/GillSans-LightItalic.svg) format("svg");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans.eot);
  src: url(/fonts/GillSans.eot) format("embedded-opentype"), url(/fonts/GillSans.woff) format("woff"), url(/fonts/GillSans.ttf) format("truetype"), url(/fonts/GillSans.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-Italic.eot);
  src: url(/fonts/GillSans-Italic.eot) format("embedded-opentype"), url(/fonts/GillSans-Italic.woff) format("woff"), url(/fonts/GillSans-Italic.ttf) format("truetype"), url(/fonts/GillSans-Italic.svg) format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-Medium.eot);
  src: url(/fonts/GillSans-Medium.eot) format("embedded-opentype"), url(/fonts/GillSans-Medium.woff) format("woff"), url(/fonts/GillSans-Medium.ttf) format("truetype"), url(/fonts/GillSans-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-MediumItalic.eot);
  src: url(/fonts/GillSans-MediumItalic.eot) format("embedded-opentype"), url(/fonts/GillSans-MediumItalic.woff) format("woff"), url(/fonts/GillSans-MediumItalic.ttf) format("truetype"), url(/fonts/GillSans-MediumItalic.svg) format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-Bold.eot);
  src: url(/fonts/GillSans-Bold.eot) format("embedded-opentype"), url(/fonts/GillSans-Bold.woff) format("woff"), url(/fonts/GillSans-Bold.ttf) format("truetype"), url(/fonts/GillSans-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-BoldItalic.eot);
  src: url(/fonts/GillSans-BoldItalic.eot) format("embedded-opentype"), url(/fonts/GillSans-BoldItalic.woff) format("woff"), url(/fonts/GillSans-BoldItalic.ttf) format("truetype"), url(/fonts/GillSans-BoldItalic.svg) format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-Heavy.eot);
  src: url(/fonts/GillSans-Heavy.eot) format("embedded-opentype"), url(/fonts/GillSans-Heavy.woff) format("woff"), url(/fonts/GillSans-Heavy.ttf) format("truetype"), url(/fonts/GillSans-Heavy.svg) format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/GillSans-HeavyItalic.eot);
  src: url(/fonts/GillSans-HeavyItalic.eot) format("embedded-opentype"), url(/fonts/GillSans-HeavyItalic.woff) format("woff"), url(/fonts/GillSans-HeavyItalic.ttf) format("truetype"), url(/fonts/GillSans-HeavyItalic.svg) format("svg");
  font-weight: 900;
  font-style: italic;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.small-container {
  max-width: 300px;
}

.btn {
  text-transform: uppercase;
  outline: none !important;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
  min-width: 150px;
  border-radius: 14px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-font-medium {
  font-weight: 500;
}

.btn.btn-primary {
  background: #E81111;
  border: none;
  color: #FFF;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #a91111 !important;
}

.btn.btn-primary.btn-primary-outline {
  background: transparent;
  border: 1px solid #E81111;
  color: #E81111;
}

.btn.btn-primary.btn-primary-outline:hover,
.btn.btn-primary.btn-primary-outline:active,
.btn.btn-primary.btn-primary-outline:focus {
  background: #E81111 !important;
  border: 1px solid #E81111 !important;
  color: #FFF;
}

.btn.btn-default {
  background: #393939;
  border: none;
  color: #FFF;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background: #191919 !important;
}

.btn.btn-default.btn-primary-outline {
  background: transparent;
  border: 1px solid #393939;
  color: #393939;
}

.btn.btn-default.btn-primary-outline:hover,
.btn.btn-default.btn-primary-outline:active,
.btn.btn-default.btn-primary-outline:focus {
  background: #393939 !important;
  border: 1px solid #393939 !important;
  color: #FFF;
}

.btn.btn-secondary {
  background: #000;
  color: #FFF;
}

.btn.btn-tag {
  min-width: 0;
  width: auto;
}

.btn i {
  margin-left: 18px;
  cursor: pointer;
}

.btn i:hover {
  opacity: 0.8;
}

.form-group {
  height: 48px;
  background: transparent;
}

.form-group .form-control {
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 14px;
  border: 1px solid #393939;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}

.form-group .form-control:-ms-input-placeholder {
  color: #393939;
  text-transform: uppercase;
}

.form-group .form-control::-moz-placeholder {
  color: #393939;
  text-transform: uppercase;
}

.form-group .form-control::placeholder {
  color: #393939;
  text-transform: uppercase;
}

.form-group .form-control:focus {
  border-color: #E81111;
}

.form-group-alt .form-control {
  border-color: white;
  color: white;
}

.form-group.dropdown {
  outline: none !important;
  box-shadow: none !important;
}

.form-group.dropdown .dropdown-toggle {
  outline: none !important;
  box-shadow: none !important;
  width: 100%;
  background: transparent;
  border: 2px solid white;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.form-group.dropdown .dropdown-toggle::after {
  content: "\F067";
  font-family: "Font Awesome 5 Pro";
  border: none;
}

.form-group.dropdown .dropdown-toggle[aria-expanded=true] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-group.dropdown .dropdown-toggle[aria-expanded=true]::after {
  content: "\F068";
}

.form-group.dropdown .dropdown-toggle:hover,
.form-group.dropdown .dropdown-toggle:active,
.form-group.dropdown .dropdown-toggle[aria-expanded=true] {
  border-color: #f4f4f4;
  background: #f4f4f4;
  color: black;
}

.form-group.dropdown .dropdown-menu {
  background: #FFF;
  color: #000;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
  margin: 0;
  border: none;
  box-shadow: 6px 8px 10px -4px rgba(0, 0, 0, 0.15);
}

.form-group.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: #000 !important;
  background: none !important;
  cursor: pointer;
}

.form-group.dropdown .dropdown-menu .dropdown-item i {
  color: #E81111;
  margin-right: 10px;
}

.form-group.dropdown .dropdown-menu .dropdown-item.active i,
.form-group.dropdown .dropdown-menu .dropdown-item:hover i {
  font-weight: 900;
}

img {
  max-width: 100%;
  position: relative;
}

img:after {
  content: " ";
  background-image: url(/images/broken-image.jpg?27fb62f563bc75118a4b33362c1e6ebf);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

html,
body {
  height: 100%;
  color: #393939;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans";
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.dropdown-menu.show {
  background: #343a40;
}

#sidenav {
  height: 100%;
  width: 300px;
  padding-top: 80px;
  position: absolute;
  top: 0;
  z-index: 1032;
  color: white;
}

#sidenav.left {
  left: -300px;
}

#sidenav.right {
  right: -300px;
}

#sidenav .collapse-list {
  padding-left: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1031;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: none;
}

.nabvbar-toggler {
  border: none;
  outline: none;
}

.close-nav {
  outline: none;
}

main {
  margin-top: 56px;
}

.bg-dark {
  background-color: #000 !important;
}

.navbar-standard-height {
  height: 64px;
}

.navbar.navbar-dark {
  background-color: #000;
}

.navbar .container {
  height: 100%;
}

.navbar .navbar-brand {
  padding: 6px 0;
  height: 100%;
}

.navbar .navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar ul.navbar-nav {
  padding: 0;
  margin-right: 0 !important;
  justify-content: flex-end;
  width: 100%;
}

.navbar ul.navbar-nav .nav-item .nav-link {
  font-size: 12px;
  color: white;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 0 12px;
  padding-top: 23px;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
  transition: all 0.15s ease-in;
}

.navbar ul.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #FFF;
}

main#content {
  margin-top: 64px;
}

.mg-modal-overlay {
  width: 100%;
  background: #FFF;
  z-index: 500;
  position: fixed;
  top: -100%;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in;
}

.mg-modal-overlay.shown {
  top: 64px;
  transition: all 0.15s ease-out;
}

.mg-modal-overlay.choosing .overlay-body {
  display: none;
}

.mg-modal-overlay .overlay-header {
  text-align: right;
}

.mg-modal-overlay .overlay-header .close {
  display: block;
  font-size: 10px;
  opacity: 1;
  text-transform: uppercase;
  color: #000000;
  float: none;
  margin-left: auto;
  margin-right: 0;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mg-modal-overlay .overlay-header .close:hover {
  color: #E81111;
}

.mg-modal-overlay .overlay-body {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.mg-modal-overlay .overlay-body.overlay-body-placeholder .grid-item {
  cursor: pointer;
}

.mg-modal-overlay .overlay-body.overlay-body-placeholder .grid-item:hover {
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
}

.mg-modal-overlay .overlay-body .grid-item {
  border-radius: 12px;
  border: 1px solid #E5E5E5;
  padding: 28px;
}

.mg-modal-overlay .overlay-body .grid-item .default,
.mg-modal-overlay .overlay-body .grid-item .card-item {
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E81111;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  display: flex;
}

.mg-modal-overlay .overlay-body .grid-item .default > i,
.mg-modal-overlay .overlay-body .grid-item .card-item > i {
  font-size: 12px;
  margin-right: 6px;
}

.mg-modal-overlay .overlay-body .grid-item .default .card-image img,
.mg-modal-overlay .overlay-body .grid-item .card-item .card-image img {
  width: 100%;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mg-modal-overlay .overlay-body .grid-item .default .card-title,
.mg-modal-overlay .overlay-body .grid-item .card-item .card-title {
  color: #393939;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.mg-modal-overlay .overlay-body .grid-item .default .card-title .model,
.mg-modal-overlay .overlay-body .grid-item .card-item .card-title .model {
  color: #E81111;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

.mg-modal-overlay .overlay-body .grid-item .default .card-title .name,
.mg-modal-overlay .overlay-body .grid-item .card-item .card-title .name {
  padding-top: 3px;
}

.mg-modal-overlay .overlay-body .grid-item .card-item {
  position: relative;
  flex-direction: column;
}

.mg-modal-overlay .overlay-body .grid-item .card-item .remove-item {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #393939;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  background: none !important;
}

.mg-modal-overlay .overlay-body .grid-item .card-item .remove-item:hover {
  color: #E81111;
}

.mg-modal-overlay .overlay-footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mg-modal-overlay .overlay-footer .grid-item {
  padding: 0 28px;
}

.mg-modal-overlay .overlay-footer .btn {
  width: 100%;
}

.mg-modal-overlay .overlay-footer p {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  color: #000;
  opacity: 1;
}

section.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.banner.banner-full {
  padding-bottom: 120px;
  height: calc(100vh - 64px);
}

section.banner .banner-content-container {
  text-align: center;
  color: white;
  line-height: 20px;
}

section.banner .banner-content-container .logo-img-container {
  max-width: 350px;
  width: 100%;
  margin: auto;
  text-align: center;
}

section.banner .banner-content-container .logo-img-container img {
  width: 100%;
}

section.banner .banner-content-container .banner-content-texts {
  margin-top: -20px;
}

section.banner .banner-content-container .banner-content-texts h5 {
  font-size: 35px;
}

section.banner .banner-content-container .banner-content-texts p {
  margin: 0;
  font-size: 14px;
}

section.banner .banner-content-container .banner-content-texts h6 {
  font-size: 22px;
  margin-top: 15px;
}

section.banner .banner-content-container .banner-content-steps {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-top: 15px;
}

section.banner .banner-content-container .banner-content-steps .step-item {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}

section.banner .banner-content-container .banner-content-steps .step-item .count {
  color: transparent;
  background: white;
  border-radius: 18px;
  height: 18px;
  width: 18px;
  color: #E81111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

section.banner .banner-content-container .banner-content-steps .step-item .icon img {
  width: 65px;
}

section.banner .banner-content-container .banner-content-steps .step-item .text {
  padding-top: 15px;
}

section.cars-list {
  padding-bottom: 60px;
}

section.cars-list .filter-container {
  background: black;
  margin-top: -120px;
  padding: 32px 42px;
  padding-bottom: 20px;
  border-radius: 12px;
}

section.cars-list .filter-container .heading {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

section.cars-list .filter-container .filter-form {
  margin-top: 24px;
}

section.cars-list .filter-container .filter-form .grid-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 150px;
}

section.cars-list .filter-container .filter-form .grid-list-1col {
  grid-template-columns: 1fr;
  grid-gap: 0;
}

section.cars-list .filter-container .filter-form .show-more-options {
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  margin-top: 15px;
}

section.cars-list .filter-container .filter-form .show-more-options a {
  text-decoration: underline;
  text-transform: uppercase;
}

section.cars-list .filter-container .filter-form .show-more-options a:hover {
  color: #E81111;
}

section.cars-list .filter-container .filter-form .other-options {
  display: block;
}

section.cars-list .filter-container .filter-form .other-options.hidden {
  display: none;
}

section.cars-list .filter-container .filter-form .price-filter {
  outline: none !important;
  box-shadow: none !important;
  width: 100%;
  background: transparent;
  border: 2px solid white;
  text-align: left;
  height: calc(100% - 1rem);
  color: #FFF;
  padding: 10px 12px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.cars-list .filter-container .filter-form .price-filter label {
  font-weight: 500;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

section.cars-list .filter-container .filter-form .price-filter .slider {
  width: 100%;
}

section.cars-list .filter-container .filter-form .price-filter .slider .slider-track {
  height: 3px;
}

section.cars-list .filter-container .filter-form .price-filter .slider .slider-track .slider-track-low,
section.cars-list .filter-container .filter-form .price-filter .slider .slider-track .slider-track-high {
  background: rgba(0, 0, 0, 0.6);
}

section.cars-list .filter-container .filter-form .price-filter .slider .slider-handle {
  width: 10px;
  height: 10px;
  margin-left: -4px;
  background: #FFF !important;
  box-shadow: none !important;
  margin-top: 1px;
}

section.cars-list .filter-container .filter-form .price-filter .price-ranges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: normal;
}

section.cars-list .filter-container .filter-form .price-filter .range-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

section.cars-list .filter-container .filter-form .price-filter .range-actions a:hover {
  color: #E81111;
}

section.cars-list .result-options {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.cars-list .result-options .actions {
  margin-left: 32px;
}

section.cars-list .result-options .actions .btn:first-child {
  margin-right: 12px;
}

section.cars-list .list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

section.cars-list .category-list {
  margin-top: 32px;
}

section.cars-list.choosing .product-card {
  cursor: pointer;
}

section.cars-list.choosing .product-card:hover {
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
}

section.cars-list.choosing .product-card .overlayed-checkbox {
  display: block;
}

section.cars-list.choosing-full .product-card:not(.selected) {
  opacity: 0.5;
}

section.cars-list.choosing-full .product-card:not(.selected) .overlayed-checkbox {
  border-color: #CCC;
}

section.cars-list .product-card {
  border: 1px solid #E5E5E5;
  background: #FFF;
  border-radius: 12px;
  padding: 28px;
  position: relative;
}

section.cars-list .product-card .overlayed-checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #E81111;
  display: none;
}

section.cars-list .product-card.selected .overlayed-checkbox {
  background: #E81111;
}

section.cars-list .product-card hr {
  border-color: #393939;
  margin: 18px 0;
}

section.cars-list .product-card .card-image img {
  width: 100%;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.cars-list .product-card .card-title {
  color: #393939;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

section.cars-list .product-card .card-title .model {
  color: #E81111;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

section.cars-list .product-card .card-title .name {
  padding-top: 3px;
}

section.cars-list .product-card .card-blurb {
  color: #393939;
  font-weight: 500;
  font-size: 13px;
}

section.cars-list .product-card .card-footer {
  border: none;
  padding: 0;
  background: none !important;
}

section.cars-list .product-card .card-footer .btn {
  width: 100%;
  font-weight: bold;
}

section.cars-list .product-card .accordion {
  margin: 18px 0;
}

section.cars-list .product-card .accordion .card {
  border: none;
  border-radius: 0;
  border-top: 1px solid #393939;
  padding: 15px 0;
  font-size: 13px;
  overflow: visible;
}

section.cars-list .product-card .accordion .card:last-child {
  border-bottom: 1px solid #393939;
}

section.cars-list .product-card .accordion .card .card-header {
  padding: 0;
  border: none;
  background: none !important;
}

section.cars-list .product-card .accordion .card .card-header .btn {
  background: none !important;
  font-size: 13px;
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  text-align: left;
  display: flex;
  justify-content: space-between;
  text-decoration: none !important;
  color: #393939;
  font-weight: bold;
  outline: none !important;
  border: none !important;
  align-items: center;
  text-transform: initial;
}

section.cars-list .product-card .accordion .card .card-header .btn:hover {
  color: #E81111;
}

section.cars-list .product-card .accordion .card .card-header .btn::after {
  content: "\F067";
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  border: none;
  color: #E81111;
}

section.cars-list .product-card .accordion .card .card-header .btn[aria-expanded=true] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

section.cars-list .product-card .accordion .card .card-header .btn[aria-expanded=true]::after {
  content: "\F068";
}

section.cars-list .product-card .accordion .card .card-body {
  padding: 0;
  padding-top: 15px;
}

section.cars-list .product-card .accordion .card .card-body .colors .color {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

section.cars-list .product-card .accordion .card .card-body .colors .color:hover,
section.cars-list .product-card .accordion .card .card-body .colors .color.active {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
}

section.cars-list .product-card .accordion .card .card-body p {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

section.cars-list .product-card .accordion .card .card-body p strong {
  font-weight: 500;
}

section.cars-list .product-card .accordion .card .card-body p i,
section.cars-list .product-card .accordion .card .card-body p img {
  margin-right: 5px;
}

section.cars-list .product-card .accordion .card .card-body p img {
  max-width: 14px;
  max-height: 14px;
}

section.cars-list .product-card .accordion .card .card-body p a {
  font-weight: 500;
  text-decoration: underline;
}

section.cars-list .product-card .accordion .card .card-body p a:hover {
  color: #E81111;
}

section.section-site-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section.section-site-map .grid-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 32px;
  color: #FFF;
  text-align: center;
  position: relative;
}

section.section-site-map .grid-item:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #E81111;
  opacity: 0;
}

section.section-site-map .grid-item:hover:after {
  opacity: 0.7;
}

section.section-site-map .grid-item * {
  z-index: 1;
  position: relative;
}

section.section-site-map .grid-item h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

section.section-site-map .grid-item h5 i {
  font-size: 28px;
  margin-right: 12px;
}

section.section-site-map .grid-item p {
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 300px;
}

section.section-site-map .grid-item a {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  transition: all 0.15s ease-out;
  text-transform: uppercase;
}

section.section-site-map .grid-item a:hover {
  opacity: 0.7;
}

section.section-site-map .grid-item.mg-care > img {
  width: 120px;
}

section.section-site-map .grid-item.mg-care .mg-care-programs {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

section.section-site-map .grid-item.mg-care .mg-care-programs img {
  max-width: 50px;
  margin-right: 10px;
}

section.section-site-map .grid-item.mg-care .mg-care-programs img:last-child {
  margin-right: 0;
}

section#section-compare {
  padding: 30px 0;
}

section#section-compare .compare-header {
  text-align: right;
}

section#section-compare .compare-header .close {
  display: block;
  font-size: 10px;
  opacity: 1;
  text-transform: uppercase;
  color: #000000;
  float: none;
  margin-left: auto;
  margin-right: 0;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

section#section-compare .compare-header .close:hover {
  color: #E81111;
}

section#section-compare .compare-body {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-gap: 15px;
}

section#section-compare .compare-body.compare-body-placeholder .grid-item {
  cursor: pointer;
}

section#section-compare .compare-body.compare-body-placeholder .grid-item:hover {
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);
}

section#section-compare .compare-body .grid-item {
  border-radius: 12px;
  border: 1px solid #E5E5E5;
  padding: 28px;
}

section#section-compare .compare-body .grid-item .default,
section#section-compare .compare-body .grid-item .card-item {
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E81111;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  display: flex;
}

section#section-compare .compare-body .grid-item .default > i,
section#section-compare .compare-body .grid-item .card-item > i {
  font-size: 12px;
  margin-right: 6px;
}

section#section-compare .compare-body .grid-item .default .card-image img,
section#section-compare .compare-body .grid-item .card-item .card-image img {
  width: 100%;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

section#section-compare .compare-body .grid-item .default .card-title,
section#section-compare .compare-body .grid-item .card-item .card-title {
  color: #393939;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

section#section-compare .compare-body .grid-item .default .card-title .model,
section#section-compare .compare-body .grid-item .card-item .card-title .model {
  color: #E81111;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

section#section-compare .compare-body .grid-item .default .card-title .name,
section#section-compare .compare-body .grid-item .card-item .card-title .name {
  padding-top: 3px;
}

section#section-compare .compare-body .grid-item .card-item {
  position: relative;
  flex-direction: column;
}

section#section-compare .compare-body .grid-item .card-item .remove-item {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #393939;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  background: none !important;
}

section#section-compare .compare-body .grid-item .card-item .remove-item:hover {
  color: #E81111;
}

section#section-compare .compare-table .table-row {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-gap: 15px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 0;
}

section#section-compare .compare-table .table-row.table-field-row:not(:first-child):not(.footer) {
  border-top: 1px solid #E5E5E5;
}

section#section-compare .compare-table .table-row .table-h {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

section#section-compare .compare-table .table-row .table-col {
  padding: 0 10px;
  font-weight: 500;
  text-align: center;
}

section#section-compare .compare-table .table-row.footer .btn {
  width: 100%;
}

section#compare-actions {
  background: #F4F4F4;
  padding: 60px 0;
}

section#compare-actions .container {
  max-width: 640px;
  margin: auto;
}

section#compare-actions .container form {
  display: flex;
  align-items: center;
}

section#compare-actions .container form .form-group {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-right: 15px;
}

section#compare-actions .container form .form-group input {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #000000;
  border-radius: 0;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-right: 0;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

section#compare-actions .container form .form-group input:-ms-input-placeholder {
  color: #393939;
}

section#compare-actions .container form .form-group input::-moz-placeholder {
  color: #393939;
}

section#compare-actions .container form .form-group input::placeholder {
  color: #393939;
}

section#compare-actions .container form .form-group .form-control-button {
  border: 1px solid #393939;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  background: #000;
  color: #FFF;
  padding: 12px 0;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 15px;
}

footer .footer-grid h6 {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

footer .footer-grid p {
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
}

footer .footer-grid .grid-item:nth-child(2) {
  max-width: 250px;
  text-align: center;
  margin: auto;
}

footer .footer-grid .grid-item:last-child {
  max-width: 250px;
  text-align: center;
  margin: auto;
}

footer .footer-grid .grid-item .social-items {
  display: flex;
  align-items: center;
}

footer .footer-grid .grid-item .social-items .social-icons {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

footer .footer-grid .grid-item .social-items .social-icons a:not(:last-child) {
  margin-right: 8px;
}

footer .footer-grid .grid-item .social-items .social-icons a:not(:last-child):hover {
  opacity: 0.8;
}

.modal-backdrop.show {
  z-index: 400;
}

.modal.mg-modal {
  width: 100%;
  height: calc(100vh - 64px);
  background: #FFF;
  top: 64px;
  z-index: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}

.modal.mg-modal .modal-dialog {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
  border: none;
  margin: 0;
}

.modal.mg-modal .modal-dialog .modal-content {
  width: 100%;
  border: none;
}

.modal.mg-modal .modal-dialog .modal-header {
  text-align: right;
  border: none;
}

.modal.mg-modal .modal-dialog .modal-header .close {
  display: block;
  font-size: 10px;
  opacity: 1;
  text-transform: uppercase;
  color: #000000;
  float: none;
  margin-left: auto;
  margin-right: 0;
  outline: none !important;
  box-shadow: none !important;
}

.modal.mg-modal .modal-dialog .modal-header .close:hover {
  color: #E81111;
}

.modal.mg-modal .modal-dialog .modal-body {
  border: none;
  text-align: center;
  max-width: 640px;
  margin: auto;
}

.modal.mg-modal .modal-dialog .modal-body h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 32px;
}

.modal.mg-modal .modal-dialog .modal-body .row {
  margin-right: -5px;
  margin-left: -5px;
}

.modal.mg-modal .modal-dialog .modal-body .col-sm-6,
.modal.mg-modal .modal-dialog .modal-body .col-sm-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.modal.mg-modal .modal-dialog .modal-body p {
  font-size: 12px;
  text-align: left;
}

.modal.mg-modal .modal-dialog .modal-body .form-checkbox {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal.mg-modal .modal-dialog .modal-body .form-checkbox input {
  color: #E81111;
  width: auto;
  margin-right: 5px;
}

.modal.mg-modal .modal-dialog .modal-body .form-checkbox label {
  margin: 0;
  font-size: 12px;
}

.modal.mg-modal .modal-dialog .modal-footer {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

