.row .item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin: 10px 0;
}

.row .filters {
  text-align: center;
}

.row .radio {
  text-align: center;
  padding: 20px 0;
}

